.cproject
.project
.settings/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.hxx
src/config.hxx.in
src/config.hxx.in~
src/page-compositor
src/page-compositor.o
src/stamp-h1
src/xdg-shell-protocol.c
src/xdg-shell-protocol.o
src/xdg-shell-server-protocol.h
src/compositor.o
src/xdg-popup.o
src/xdg-shell.o
src/xdg-surface.o
