.cproject
.project
.settings/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.hxx
src/config.hxx.in
src/config.hxx.in~
src/page-compositor
src/stamp-h1
src/xdg-shell-protocol.c
src/xdg-shell-server-protocol.h
src/buffer-manager-client-protocol.h
src/buffer-manager-protocol.c
src/buffer-manager-server-protocol.h
src/wayland-interface.cxx
src/wayland-interface.hxx
src/xdg-shell-unstable-v5-interface.cxx
src/xdg-shell-unstable-v5-interface.hxx
src/xdg-shell-unstable-v5-protocol.c
src/xdg-shell-unstable-v5-server-protocol.h
src/xdg-shell-unstable-v6-interface.cxx
src/xdg-shell-unstable-v6-interface.hxx
src/xdg-shell-unstable-v6-protocol.c
src/xdg-shell-unstable-v6-server-protocol.h
src/*.o
